{% extends 'base.html' %}
{% block title %}My Rooms{% endblock %}
{% block content %}
<div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
    {% for d in data %}
    <div class="block overflow-hidden rounded-2xl">
        <img class="object-cover w-full h-56" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="" />
      
        <div class="p-4 bg-gray-900">
          <p class="text-xs text-gray-500">capacity : {{d.room.capacity}}</p>
      
          <h5 class="text-sm text-white">{{d.room.room_type}} Room</h5>
            
          <div class="flex justify-between">
          <p class="mt-1 text-xs text-gray-500">From: {{d.start_date}}</p>
          <p class="mt-1 text-xs text-gray-500">To:{{d.end_date}}</p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}