{% if data %}
	<div class="overflow-hidden overflow-x-auto border border-gray-100 rounded h-min">
		<table class="min-w-full text-sm divide-y divide-gray-200">
			<thead>
				<tr class="bg-gray-50">
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Sr. No.
					</th>
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Capacity
					</th>
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Room Type
					</th>
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Floor
					</th>
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Rate
					</th>
					
					<th
						class="px-4 py-2 font-medium text-left text-gray-900 whitespace-nowrap"
					>
						Book
					</th>

				</tr>
			</thead>

			<tbody class="divide-y divide-gray-100">
				{% for d in data %}
                <tr>
					<td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
						{{forloop.counter}}
					</td>
					<td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{d.capacity}}</td>
					<td class="px-4 py-2 text-gray-700 whitespace-nowrap">
						{{d.room_type}}
					</td>
					<td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{d.floor}}</td>
					<td class="px-4 py-2 text-gray-700 whitespace-nowrap">{{d.rate}}</td>
					<td class="px-4 py-2 text-gray-700 whitespace-nowrap"><a href="{% url 'book' d.room_id %}" class="rounded-full bg-teal-600 text-white text-sm font-medium hover:bg-teal-700 p-2">Book Now!</a></td>
				</tr>
                {% endfor %}
			</tbody>
		</table>
	</div>
{% else %}
<p class="max-w-md mx-auto mt-4 text-center text-gray-500">
    OOPS!🤭 Looks Like we cannot meet your requirements just now. Maybe try again later, you never know ..
</p>
{% endif %}
