<div class="flex py-5 justify-center">
	<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
		<table class="w-full text-sm text-left text-gray-400">
			<thead class="text-xs text-gray-700 uppercase bg-gray-200">
				<tr>
					<th scope="col" class="px-6 py-3">Sr. No.</th>
					<th scope="col" class="px-6 py-3 text-center" colspan="3">Room Information</th>
					<th scope="col" class="px-6 py-3">Guest</th>
					<th scope="col" class="px-6 py-3">End Date</th>
					<th scope="col" class="px-6 py-3">
						<span class="sr-only">Remove Reservation</span>
					</th>
				</tr>
                <tr>
                    <th scope="col" class="px-6 py-1"></th>
                    <th scope="col" class="px-6 py-1">Capacity</th>
                    <th scope="col" class="px-6 py-1">Type</th>
                    <th scope="col" class="px-6 py-1">Floor</th>
                    <th scope="col" class="px-6 py-1"></th>
                    <th scope="col" class="px-6 py-1"></th>
                    <th scope="col" class="px-6 py-1"></th>
                </tr>
			</thead>
			<tbody>
				{% for d in data %}
				<tr class="bg-white border-b hover:bg-teal-50">
					<th
						scope="row"
						class="px-6 py-4 font-medium font-bold whitespace-nowrap text-gray-900"
					>
						{{ forloop.counter }}
					</th>
					<td class="px-6 py-4 text-gray-900">{{ d.room.capacity }}</td>
					<td class="px-6 py-4 text-gray-900">{{ d.room.room_type }}</td>
					<td class="px-6 py-4 text-gray-900">{{ d.room.floor }}</td>
					<td class="px-6 py-4 text-gray-900">{{ d.user }}</td>
					<td class="px-6 py-4 text-gray-900">{{ d.end_date }}</td>
					<td class="px-6 py-4 text-gray-900 text-right">
						<a href="{% url 'change_reservation' d.room.room_id %}" class="font-medium text-teal-600 hover:underline"
							>Change Reservation</a
						>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
